<html>
<head>
	<title>HEadLinEs</title>
	<meta charset = "UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity=" sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Josefin+Slab|Russo+One" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<h1 style="font-family: 'Bungee Inline', cursive;font-size: 60px;" class="text-center";>Headlines</h1>
			<h6 class="text-center">{{ now }}</h6>
			<div class="col-md-1">
				
				
			</div>
			
			<div class="col-md-3">
				<h3><b style="color: #72a7a7">Hindustan Times</b></h3>
				{% for article in articles %}
					<b style="font-family: 'Kanit', sans-serif;"><a style="color: black;" href="{{ article.link }}">{{ article.title }}</a></b><br>
					<i>{{ article.published }}</i><br>
					<p style="font-family: 'Cinzel', serif;">{{ article.description }} </p>
					<hr>
				{% endfor%}
			</div>
		
			<div class="col-md-3">
				<h3><b style="color: #72a7a7">Mint</b></h3>
				{% for article in articles1 %}
					<b style="font-family: 'Kanit', sans-serif;color: black"><a style="color: black;" href="{{ article.link }}">{{ article.title }}</a></b> <br>
					{{ article.value }}
					<i>{{ article.published }}</i><br>
					<p style="font-family: 'Cinzel', serif;">{{ article.summary }}</p><hr>
				{% endfor %}
			</div>
			<div class="col-md-3">
				<h3><b style="color: #72a7a7">Times of India</b></h3>
				{% for article in articles2 %}
					<b style="font-family: 'Kanit', sans-serif;color: black"><a style="color: black;" href="{{ article.link }}">{{ article.title }}</a></b><br>
					<i>{{ article.published }}</i><br>
					<p style="font-family: 'Cinzel', serif;">{{ article.description }} </p>
					<hr>
				{% endfor%}
			</div>

			
		</div>		
	</div>
</body>
</html>